<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="nav-bar">
      <div class="title">
        <h2>Task<span>Trove</span></h2>
      </div>
      <div class="users">
        <p>Welcome, <span><%= username %></span></p>
      </div>
    </div>
    <div class="welcome">
      <div class="text">
        <h2>
          Welcome on Our TODO Platform!<br />Our aim is to help you<br />To
          Schedule your Day.
        </h2>
      </div>
      <button><a href="/task">Go To your Dashboard</a></button>
      <div class="pic">
        <img src="todo.png" alt="" srcset="" />
      </div>
    </div>
  </body>
</html>
